body
{
	font: 1em 'Lucida Grande', Arial, sans-serif;
}

body.move
{
	cursor:move;
}

body.resize
{
	cursor:e-resize
}

a
{
	color:#000;
}

#calendar
{
	background-color:#fff;
	border:1px solid #000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	width:100%;
	min-height:150px;
	padding:0;
}

div.timelineCalendar
{
	font-family:Arial;
	font-size:0.9em;
	padding:0;
	overflow:hidden;
}

.timelineCalendar .item
{
	position:relative;
	background:#81E01B;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding:1px;
	margin-bottom:2px;
	margin-top:2px;
	overflow:hidden;
}




.datagrid
{
	margin-top:20px;
	position:relative;
	z-index:5;
}

.col
{

	overflow:hidden;
}

.header
{
	display:table;
	background:#000;
	color:#fff;
	width:100%;
}

.header .col
{	
	display:table-cell;
	background:#787878;
	text-align:center;
	font-size:0.7em;
	line-height:2.2em;
	height:100%;
	margin:0;
}

.header .col.even
{	
	background:#909090;
}

.timelineCalendar .container
{
	background-image: linear-gradient(bottom, rgb(250,250,250) 13%, rgb(230,230,230) 57%, rgb(230,230,230) 79%);
	background-image: -o-linear-gradient(bottom, rgb(250,250,250) 13%, rgb(230,230,230) 57%, rgb(230,230,230) 79%);
	background-image: -moz-linear-gradient(bottom, rgb(250,250,250) 13%, rgb(230,230,230) 57%, rgb(230,230,230) 79%);
	background-image: -webkit-linear-gradient(bottom, rgb(250,250,250) 13%, rgb(230,230,230) 57%, rgb(230,230,230) 79%);
	background-image: -ms-linear-gradient(bottom, rgb(250,250,250) 13%, rgb(230,230,230) 57%, rgb(230,230,230) 79%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.13, rgb(250,250,250)),
		color-stop(0.57, rgb(230,230,230)),
		color-stop(0.79, rgb(230,230,230)) );
}

.timelineCalendar .datagrid
{
	top:10px;
	z-index:2;
}

.timelineCalendar .datagrid .col
{
	height:100px;
	background-color:#efefef;
}

.item.xmas
{
	background-color:#ff0000;
}

div.grid
{
	z-index:1;
	display:table;
	border-collapse:collapse;	
}

div.grid div
{
	height:200px;
	border-right:1px solid #e0e0e0;
	display:table-cell;
}
